*.sln.docstates
*.suo
*.user
*.vcxproj.user
*.vs/
[Dd]ebug/
[Rr]elease/
x64/
Win32/
*.exe
*.obj
*.pdb
*.ilk
*.log
*.tlog
*.pch

libs/libpqxx-7.10.1/out/

libpq.dll
libssl-*.dll
libcrypto-*.dll
libintl-*.dll